

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 10%;
    background-color: rgb(97, 169, 227);
    border-bottom: 1px solid #f4e3e3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}